/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=sh");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=sh");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=sh");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Main colors */
/* More colors */
/* Mobile */
/* Tablet */
/* Computer */
/* Font imports */
/* Open Sans variations */
/* Imports */
/* Main colors */
/* More colors */
/* Mobile */
/* Tablet */
/* Computer */
/* Font imports */
/* Open Sans variations */
.container {
  width: 100%;
  font-family: "Open Sans", "sans serif";
}
.container .-header .purple-shape {
  background-color: #422755;
  clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 90%);
}
@media only screen and (max-width: 768px) {
  .container .-header .purple-shape {
    height: 160px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .container .-header .purple-shape {
    height: 250px;
  }
}
@media only screen and (min-width: 1025px) {
  .container .-header .purple-shape {
    height: 381px;
  }
}
@media only screen and (max-width: 768px) {
  .container .-header .-title {
    position: relative;
    top: -5rem;
    color: #FFF;
    text-align: center;
    font-weight: 800;
    font-size: 1.6rem;
    line-height: 1rem;
  }
  .container .-header .-subtitle {
    display: block;
    padding: 0 2rem 2rem 2rem;
    color: #422755;
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.3rem;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .container .-header .-title {
    position: relative;
    top: -9rem;
    color: #FFF;
    text-align: center;
    font-weight: 800;
    font-size: 1.6rem;
    line-height: 1rem;
  }
  .container .-header .-subtitle {
    position: relative;
    top: -7rem;
    display: block;
    padding: 0 2rem 2rem 2rem;
    color: #FFF;
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.3rem;
  }
}
@media only screen and (min-width: 1025px) {
  .container .-header .-title {
    position: relative;
    top: -14rem;
    color: #FFF;
    text-align: center;
    font-weight: 800;
    font-size: 2rem;
    line-height: 1rem;
  }
  .container .-header .-subtitle {
    position: relative;
    top: -11rem;
    display: block;
    padding: 0 2rem 2rem 2rem;
    color: #FFF;
    text-align: center;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.3rem;
  }
}

/* Imports */
/* Main colors */
/* More colors */
/* Mobile */
/* Tablet */
/* Computer */
/* Font imports */
/* Open Sans variations */

/*# sourceMappingURL=main.css.map */
