  /* Main colors */

$primary-color-violet:#422755;
$secondary-color-orange:#FEAF3D;

  /* More colors */

$light-violet:#6E4B87;
$tomato-red:#F04837;
$all-white:#FFF;
$light-gray:#E5E5E5;
$medium-gray:#757575;
$dark-gray:#414141;
$black-box:#000;
