/* Mobile */

@mixin responsive_mobile() {
    @media only screen and (max-width: 767px) {
        @content;
    }
}

/* Tablet */

@mixin responsive_tablet() {
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        @content;
    }
}

/* Computer */

@mixin responsive_computer() {
    @media only screen and (min-width: 1024px) {
        @content;
    }
}
