/* Imports */
/* Main colors */
/* More colors */
/* Mobile */
/* Tablet */
/* Computer */
/* Font imports */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=sh");
/* Open Sans variations */
.container {
  width: 100%;
  font-family: "Open Sans", "sans serif";
}
.container .-header .purple-shape {
  background-color: #422755;
  clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 90%);
}
@media only screen and (max-width: 768px) {
  .container .-header .purple-shape {
    height: 160px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container .-header .purple-shape {
    height: 250px;
  }
}
@media only screen and (min-width: 1024px) {
  .container .-header .purple-shape {
    height: 381px;
  }
}
@media only screen and (max-width: 768px) {
  .container .-header .-title {
    position: relative;
    top: -5rem;
    color: #FFF;
    text-align: center;
    font-weight: 800;
    font-size: 1.6rem;
    line-height: 1rem;
  }
  .container .-header .-subtitle {
    display: block;
    padding: 0 2rem 2rem 2rem;
    color: #422755;
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.3rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container .-header .-title {
    position: relative;
    top: -9rem;
    color: #FFF;
    text-align: center;
    font-weight: 800;
    font-size: 1.6rem;
    line-height: 1rem;
  }
  .container .-header .-subtitle {
    position: relative;
    top: -7rem;
    display: block;
    padding: 0 2rem 2rem 2rem;
    color: #FFF;
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.3rem;
  }
}
@media only screen and (min-width: 1024px) {
  .container .-header .-title {
    position: relative;
    top: -14rem;
    color: #FFF;
    text-align: center;
    font-weight: 800;
    font-size: 2rem;
    line-height: 1rem;
  }
  .container .-header .-subtitle {
    position: relative;
    top: -11rem;
    display: block;
    padding: 0 2rem 2rem 2rem;
    color: #FFF;
    text-align: center;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.3rem;
  }
}
.container .-nav {
  display: flex;
  justify-content: center;
  background-color: #FFF;
  margin-bottom: 2.5rem;
}
@media only screen and (min-width: 1024px) {
  .container .-nav {
    margin-bottom: 4rem;
  }
}
.container .-nav .wrapper-navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 1rem;
  width: 85%;
  max-width: 1080px;
  height: 100%;
  border-radius: 8px;
  color: #FFF;
  font-weight: 600;
  background-color: #FEAF3D;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container .-nav .wrapper-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
@media only screen and (min-width: 1024px) {
  .container .-nav .wrapper-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
.container .-nav .wrapper-navbar .navbar-search {
  display: flex;
  justify-content: center;
}
.container .-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FFF;
  margin-bottom: 2.5rem;
}
@media only screen and (min-width: 1024px) {
  .container .-main {
    margin-bottom: 4rem;
  }
}
.container .-main .wrapper-articles {
  width: 85%;
  max-width: 1080px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.container .-main .wrapper-form {
  padding: 1.5rem 3rem;
  align-self: center;
  text-decoration-line: none;
  width: 60%;
  background-color: #E5E5E5;
  border-radius: 8px;
  margin-top: 5rem;
}
@media only screen and (max-width: 768px) {
  .container .-main .wrapper-form {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container .-main .wrapper-form {
    display: block;
  }
}
.container .-main .wrapper-form .text-legend {
  color: #6E4B87;
  font-size: 0.8rem;
  font-weight: 700;
}
@media only screen and (min-width: 1024px) {
  .container .-main .wrapper-form .text-legend {
    font-size: 1rem;
  }
}
.container .-main .wrapper-form .text-label {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 16px;
  color: #757575;
  font-size: 0.8rem;
  font-weight: 400;
}
.container .wrapper-info {
  padding: 2.5rem 2rem;
  color: #414141;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container .wrapper-info {
    padding: 2.5rem 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
@media only screen and (min-width: 1024px) {
  .container .wrapper-info {
    padding: 6rem 12rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.container .wrapper-info .image-responsive {
  width: 157px;
  height: 94px;
  padding-bottom: 40px;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container .wrapper-info .image-responsive {
    flex: 1 0;
    width: 200px;
    height: 117.09px;
  }
}
@media only screen and (min-width: 1024px) {
  .container .wrapper-info .image-responsive {
    flex: 1 0;
    width: 234px;
    height: 137px;
  }
}
.container .wrapper-info .text-info {
  text-align: center;
  font-size: 0.75rem;
  line-height: 1.1rem;
  padding-bottom: 1rem;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container .wrapper-info .text-info {
    padding: 0 2rem;
    text-align: left;
    font-size: 0.75rem;
    line-height: 1.4rem;
    padding-bottom: 1rem;
  }
}
@media only screen and (min-width: 1024px) {
  .container .wrapper-info .text-info {
    padding: 0 4rem;
    text-align: left;
    font-size: 0.85rem;
    line-height: 1.4rem;
    padding-bottom: 1rem;
  }
}
.container .-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 126px;
  background-color: #422755;
  text-align: center;
  color: #FFF;
  font-size: 0.75rem;
  line-height: 1.2rem;
}

/*# sourceMappingURL=containers.css.map */
