/* Imports */

@import "../settings/_colors.scss";
@import "../settings/_responsive_mixins.scss";
@import "../settings/_typography.scss";

.input-component {
  font-family: $font-project;
  font-weight: $font-weight-regular;
  font-size: 0.75rem;
  color: $medium-gray;
  padding: 0 16px;
  width: 245px;
  height: 34px;
  border: none;
  border-radius: 8px;
  margin: 8px 12px 8px 0;
}

.-label {
  margin-right: 0.5rem;
}

.-select {
  @extend .input-component;
  width: 194px;
  margin: 8px 0px 0px 0;
}

.button-component {
  background-color: $light-violet;
  padding: 9px 12px;
  border: none;
  border-radius: 8px;
  margin-left: -10%;
  font-family: $font-project;
  font-size: 0.8rem;
  font-weight: $font-weight-bold;
  color: $all-white;
  cursor: pointer;
}

.-more {
  @extend .button-component;
  font-size: 1rem;
  margin-left: 0;
  width: 155px;
  height: auto;
  align-self: center;
  @include responsive_tablet() {
    width: 170px;
    height: auto;
  }
  @include responsive_computer() {
    width: 200px;
    height: auto;
  }
}

.-register {
  @extend .button-component;
  margin-left: 0;
  align-self: flex-end;
  margin: 8px 0 8px 0;
}

.-done {
  @extend .button-component;
  font-size: 1.1rem;
  font-weight: $font-weight-bold;
  width: 100%;
  height: 30px;
  padding: 0;
  margin-left: 0;
  background-color: $all-white;
  color: $primary-color-violet;
  border: 1px solid $primary-color-violet;
  @include responsive_tablet() {
    font-weight: $font-weight-bold;
    height: auto;
    padding: 9px 12px;
  }
  @include responsive_computer() {
    display: none;
  }
}

.-done-2 {
  @extend .button-component;
  display: none;
}

.-time {
  @extend .button-component;
  display: none;
}

.card-hover {
  > :hover {
    cursor: pointer;
    height: 466px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 25%);
  }
  :hover > .-done-2 {
    @include responsive_computer() {
      display: block;
      position: relative;
      right: -20px;
      font-size: 1.1rem;
      font-weight: $font-weight-bold;
      width: 218px;
      height: auto;
      padding: 9px 12px;
      background-color: $primary-color-violet;
      color: $all-white;
      margin-bottom: 1rem;
    }
  }
  :hover > .-time {
    @include responsive_computer() {
      display: block;
      position: relative;
      right: -20px;
      font-size: 1.1rem;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      font-weight: $font-weight-bold;
      width: 218px;
      height: auto;
      padding: 9px 12px;
      background-color: $tomato-red;
      color: $all-white;
    }
  }
}

.card-task {
  display: flex;
  flex-direction: row;
  max-width: 350px;
  border: 2px solid $black-box;
  border-radius: 14px;
  padding: 0.8rem;
  margin: 0.5rem;
  @include responsive_computer() {
    display: flex;
    flex-direction: column;
    width: 218px;
    height: 310px;
  }
}

.card-tag {
  display: block;
  position: relative;
  z-index: 2;
  top: 3rem;
  right: 0.1rem;
  background-color: $primary-color-violet;
  width: 102px;
  height: 29px;
  font-size: 0.7rem;
  font-weight: $font-weight-bold;
  text-align: center;
  line-height: 1.5rem;
  color: $all-white;
  border: none;
  border-radius: 0 5px 5px 0;
}

.card-image {
  position: relative;
  z-index: 1;
  @include responsive_computer() {
    display: none;
  }
}

.card-image-desktop {
  display: none;
  position: relative;
  z-index: 1;
  @include responsive_computer() {
    display: block;
  }
}

.wrapper-card-info {
  display: flex;
  flex-direction: column;
  margin: 0 2px 0 15px;
  @include responsive_computer() {
    margin: 0;
  }
}
.-title-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  font-weight: $font-weight-bold;
  line-height: 2rem;
  color: $dark-gray;
  .clock-button {
    background-color: $all-white;
    border: none;
    @include responsive_computer() {
      display: none;
    }
  }
}
.-description {
  font-size: 0.7rem;
  line-height: 1rem;
  .--legend {
    font-size: 0.5rem;
    margin-top: 0.5rem;
    color: $dark-gray;
    @include responsive_computer() {
      position: relative;
      bottom: 2.5rem;
    }
  }
  .-position {
    bottom: -1.8rem;
  }
  :first-child {
    margin-bottom: 0.5rem;
    @include responsive_computer() {
      height: 48px;
    }
  }
}

.wrapper-deadline {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  .-text {
    font-weight: $font-weight-bold;
  }
  .-days {
    font-weight: $font-weight-bold;
    font-size: 1.1rem;
    color: $tomato-red;
    margin-left: 0.2rem;
  }
}
