/* Imports */

@import "../settings/_colors.scss";
@import "../settings/_responsive_mixins.scss";
@import "../settings/_typography.scss";

.input-component {
  font-family: $font-project;
  font-weight: $font-weight-regular;
  font-size: 0.75rem;
  color: $medium-gray;
  padding: 0 16px;
  width: 276px;
  height: 34px;
  border: none;
  border-radius: 8px;
  margin: 8px 12px 8px 0;
}

.button-component {
  background-color: $light-violet;
  padding: 9px 12px;
  border: none;
  border-radius: 8px;
  margin-left: -10%;
  font-family: $font-project;
  font-size: 0.8rem;
  font-weight: $font-weight-bold;
  color: $all-white;
  cursor: pointer;
}

.-more {
  @extend .button-component;
  font-size: 1rem;
  margin-left: 0;
  width: 155px;
  height: auto;
  align-self: center;
  @include responsive_tablet() {
    width: 170px;
    height: auto;
  }
  @include responsive_computer() {
    width: 200px;
    height: auto;
  }
}

.-register {
  @extend .button-component;
  margin-left: 0;
  align-self: flex-end;
  margin: 8px 0 8px 0;
}

.-done {
  @extend .button-component;
  font-size: 1.1rem;
  font-weight: $font-weight-bold;
  width: 100%;
  height: 30px;
  padding: 0;
  margin-left: 0;
  background-color: $all-white;
  color: $primary-color-violet;
  border: 1px solid $primary-color-violet;
  @include responsive_tablet() {
    display: none;
    :hover {
      font-weight: $font-weight-bold;
      height: auto;
      padding: 9px 12px;
      background-color: $primary-color-violet;
      color: $all-white;
    }
  }
  @include responsive_computer() {
    display: none;
    :hover {
      font-weight: $font-weight-bold;
      height: auto;
      padding: 9px 12px;
      background-color: $primary-color-violet;
      color: $all-white;
    }
  }
}

.-time {
  @extend .button-component;
  display: none;
  @include responsive_tablet() {
    display: none;
    :hover {
      font-size: 1.1rem;
      display: flex;
      justify-content: space-between;
      font-weight: $font-weight-bold;
      width: 170px;
      height: auto;
      padding: 9px 12px;
      background-color: $tomato-red;
      color: $all-white;
    }
  }
  @include responsive_computer() {
    display: none;
    :hover {
      font-size: 1.1rem;
      display: flex;
      justify-content: space-evenly;
      font-weight: $font-weight-bold;
      width: 218px;
      height: auto;
      padding: 9px 12px;
      background-color: $tomato-red;
      color: $all-white;
    }
  }
}
  .card-task {
    display: flex;
    flex-direction: row;
    width: 20rem;
    border: 2px solid $black-box;
    border-radius: 14px;
    padding: 0.8rem;
    margin-bottom: 1.3rem;
  }

  .card-tag {
    display: block;
    position: relative;
    z-index: 2;
    top: 3rem;
    right: 0.1rem;
    background-color: $primary-color-violet;
    width: 102px;
    height: 29px;
    font-size: 0.7rem;
    font-weight: $font-weight-bold;
    text-align: center;
    line-height: 1.5rem;
    color: $all-white;
    border: none;
    border-radius: 0 5px 5px 0;
  }

  .card-image {
    position: relative;
    z-index: 1;
    align-self: baseline;
    clip-path: inset(178px 147px);
  }

  .wrapper-card-info {
    text-align: left;
    align-self: center;
    margin: 0 2px 0 15px;
    .-title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-size: 0.9rem;
      font-weight: $font-weight-bold;
      line-height: 2rem;
      color: $dark-gray;
      .clock-button {
        background-color: $all-white;
        border: none;
      }
    }
    .-description {
      font-size: 0.7rem;
      line-height: 1rem;
      .--legend {
        font-size: 0.6rem;
        margin-top: 0.5rem;
        color: $dark-gray;
      }
      :first-child {
        margin-bottom: .5rem;
      }
    }
    .wrapper-deadline {
      display: flex;
      flex-direction: row;
      .-text {
        font-weight: $font-weight-bold;
      }
      .-days {
        font-weight: $font-weight-bold;
        font-size: 1.1rem;
        color: $tomato-red;
        margin-left: 0.2rem;
      }
    }
  }

