/* Imports */

@import "../settings/_colors.scss";
@import "../settings/_responsive_mixins.scss";
@import "../settings/_typography.scss";

.container {
    width: 100%;
    font-family: $font-project;
    .-header {
        .purple-shape {
            background-color: $primary-color-violet;
            clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 90%);
            @include responsive_mobile() {
                height: 160px;
            }
            @include responsive_tablet() {
                height: 250px;
            }
            @include responsive_computer() {
                height: 381px;
            }
        }
        @include responsive_mobile() {
            .-title {
                position: relative;
                top: -5rem;
                color: $all-white;
                text-align: center;
                font-weight: $font-weight-extrabold;
                font-size: 1.6rem;
                line-height: 1rem;
            }
            .-subtitle {
                display: block;
                padding: 0 2rem 2rem 2rem;
                color: $primary-color-violet;
                text-align: center;
                font-weight: $font-weight-regular;
                font-size: 1rem;
                line-height: 1.3rem;
            }
        }
        @include responsive_tablet() {
            .-title {
                position: relative;
                top: -9rem;
                color: $all-white;
                text-align: center;
                font-weight: $font-weight-extrabold;
                font-size: 1.6rem;
                line-height: 1rem;
            }
            .-subtitle {
                position: relative;
                top: -7rem;
                display: block;
                padding: 0 2rem 2rem 2rem;
                color: $all-white;
                text-align: center;
                font-weight: $font-weight-regular;
                font-size: 1rem;
                line-height: 1.3rem;
            }
        }
        @include responsive_computer() {
            .-title {
                position: relative;
                top: -14rem;
                color: $all-white;
                text-align: center;
                font-weight: $font-weight-extrabold;
                font-size: 2rem;
                line-height: 1rem;
            }
            .-subtitle {
                position: relative;
                top: -11rem;
                display: block;
                padding: 0 2rem 2rem 2rem;
                color: $all-white;
                text-align: center;
                font-weight: $font-weight-regular;
                font-size: 1.2rem;
                line-height: 1.3rem;
            }
        }
    }
    .-nav {
        display: flex;
        justify-content: center;
        background-color: $all-white;
        margin-bottom: 2.5rem;
        @include responsive_computer {
            margin-bottom: 4rem;
        }
        .wrapper-navbar {
            padding: 1.5rem 1rem;
            width: 85%;
            max-width: 1080px;
            height: 100%;
            border-radius: 8px;
            color: $all-white;
            font-weight: $font-weight-semibold;
            background-color: $secondary-color-orange;
        }
    }
}
